body{
  font-family: 'Poiret One',helvetica;
  font-weight:200;
}

#container *::selection{
  color:red;
  background:rgba(255,255,255,1);
}

a{
  color:#000;
  text-decoration:none;
}

a:hover{
  text-decoration:underline;
}

#nav{
  width:100%;
  height:40px;
  background:black;
  font-size:2em;
  padding-top:5px;
  position:fixed;
}

#nav ul{
  color:white;
  float:right;
  margin-right:10px;
}

#nav li{
  display:inline;
}

#nav li a{
  color:white;
  text-decoration:none;
}

#nav li a:hover{
  color:rgba(255,255,0,1);
  -webkit-transition:color.25s linear;
  transition:color .25s linear;
  text-decoration:none;
}

#nav li .active{
  color:rgba(255,0,0,1);
  -webkit-transition:color 3s linear;
  transition:color 3s linear;
}

#nav li .secondActive{
  color:rgba(255,160,0,1);
  -webkit-transition:color 3s linear;
  transition:color 3s linear;
}

.awake{
  background:rgba(255,255,255,1);
  -webkit-transition:background .25s linear;
  transition: background .25s linear;
}

/*.sleep{
  background:rgba(0,0,0,.2);
  -webkit-transition:background .25s linear;
  transition: background .25s linear;
}*/

#home{
  clear:both;
  padding-top:50px;
  text-align:center;
}

#home h1{
  font-size:6em;
  position:relative;
  top:200px;
  font-weight:200;
  letter-spacing:-4px;
}

#home h2{
  font-size:3em;
  position:relative;
  top:220px;
  font-weight:200;
  letter-spacing:-1px;
}

#about h2, #about p,#contact h2, #contact p{
  width:75%;
  margin:auto;
}

#about h2{
  font-size:2em;
}

#about p{
  font-size:3em;
  position:relative;
  top:75px;
  margin-bottom:20px;
}

#about a{
  text-decoration:underline;
}

#work{
  width:75%;
  margin:auto;
}

#work div{
  margin-bottom:35px;
  clear:both;
}

#work h2{
  font-size:2em;
  margin-bottom:30px;
}

#work div{
  border:dotted 1px black;
  padding:10px;
}

#work div h2{
  margin-bottom:0px;
}

#work p{
  font-size:1em;
}

#work img{
  border:none;
}

#work a{
  text-decoration:none;
  color:#000;
}

#work #aud1,#work #aud3{
  height:150px;
}

#work #aud2{
  height:100px;
}

#work .text{
  width:30%;
  margin-top:5px;
  margin-right:20px;
  float:left;
}

#contact h2{
  font-size:2em;
  margin-bottom:70px;
}

#contact p{
  font-size:4em;
  margin-bottom:15px;
}
